* {
  margin: 0;
  padding: 0;
}

html, 
body {
  overflow-x: hidden;
}
.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 147px;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
    url("fonts/Open-Sans/open-sans-light.woff2") format("woff2"), /* Modern Browsers */
		url("fonts/Open-Sans/open-sans-light.ttf") format("ttf"), /* Safari, Android, iOS */
		url("fonts/Open-Sans/open-sans-light.woff") format("woff"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
    url("fonts/Open-Sans/open-sans.woff2") format("woff2"), /* Modern Browsers */
    url("fonts/Open-Sans/open-sans.woff") format("woff"), /* Modern Browsers */
		url("fonts/Open-Sans/open-sans.ttf") format("ttf"); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
    url("fonts/Open-Sans/open-sans-semibold.woff2") format("woff2"), /* Modern Browsers */
    url("fonts/Open-Sans/open-sans-semibold.woff") format("woff"), /* Modern Browsers */
    url("fonts/Open-Sans/open-sans-semibold.ttf") format("ttf"); /* Safari, Android, iOS */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
    url("fonts/Open-Sans/open-sans-condensed-bold.woff2") format("woff2"), /* Modern Browsers */
    url("fonts/Open-Sans/open-sans-condensed-bold.woff") format("woff"), /* Modern Browsers */
    url("fonts/Open-Sans/open-sans-condensed-bold.ttf") format("ttf"); /* Safari, Android, iOS */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
    url("fonts/Open-Sans/open-sans-extrabold.woff2") format("woff2"), /* Modern Browsers */
    url("fofonts/Open-Sans/open-sans-extrabold.woff") format("woff"), /* Modern Browsers */
    url("fonts/Open-Sans/open-sans-extrabold.ttf") format("ttf"); /* Safari, Android, iOS */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: local("Lora"),
    url("fonts/Lora/Lora-Regular.woff2") format("woff2"), /* Modern Browsers */
    url("fonts/Lora/Lora-Regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/Lora/Lora-Regular.ttf") format("ttf"); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: local("Lora"),
    url("fonts/Lora/Lora-Medium.woff2") format("woff2"), /* Modern Browsers */
    url("fonts/Lora/Lora-Medium.woff") format("woff"), /* Modern Browsers */
    url("fonts/Lora/Lora-Medium.ttf") format("ttf"); /* Safari, Android, iOS */
	font-weight: 500;
	font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 1920px;
  height: 147px;
  background: #DEDEDE80;
  backdrop-filter: blur(20px)
}

.header__conteiner {
  display: flex;
}

.button {
  padding: 15px 40px;
}

.logo__img {
  margin-left: 297px;
}

.nav__list {
  justify-content: space-between;
  text-align: center;
  line-height: 24.51px;
  list-style-type: none;
  padding: 0;
  width: 457px;
  height: 25px;
  display: flex;
  margin: 61px 0 61px 237px;
}
.nav__title {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #1F1E1E;
}
.nav__title:hover { 
  color: #BC3324;
}

.header__button {
  margin-top: 46px;
  margin-left: 307px;
  width: 131px;
  height: 52px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  gap: 10px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #1F1E1E;
}

.header__button:hover {
  background-color: #1F1E1E;
  color: #FFFFFF
}


.descriptive__title-over {
  width: 518px;
  height: 58px;
  font-family: Lora, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  margin: 100px 705px 0;
}

.descriptive__image {
  margin-top: 70px;

}

.descriptive__title-under {
  width: 990px;
  height: 116px;
  
  margin: 66px 469px 0; 
  text-align: center;
  font-family: Lora, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 57.6px;
}

.choice {
  margin: 100px 648px 0;
  width: 624px;
  height: 128px;
  gap: 0px;
  border: 1px 0px 0px 0px;
}

.choice__title {
  font-family: Lora;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
.choice__button-list {

  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.button__choice1 {
  width: 272px;
  height: 52px;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 21.79px;
  text-align: center;
  background-color: #BC3324;
  border: none;
}

.button__choice1:hover {
  /* Q!!!!!! */
  color: #FFFFFF;
  background-color: #A51505;
}

.button__choice2 {
  width: Fixed (245.88px);
  height: 52px;
  background-color: transparent;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1F1E1E;
  line-height: 21.79px;
  text-align: center;
  border: 1 solid #1F1E1E;
  gap: 10;
}

.button__choice2:hover {
  /* Q!!!!!! */
  color: #FFFFFF;
  background-color: #1F1E1E;
}

.headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 624px;
  height: 62px;
  background-color: #1F1E1E;

}

.headline__title {
  margin: 200px 648px 0;
}

.headline__about {
  
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-family: Lora;
  font-size: 36px;
  font-weight: 500;
}

.about__block1 {
  width: 1334px;
  height: 185px;
  position: relative;
  /* border: 1px solid #ccc; */
  margin: 150px 298px 100px;  /* Выравнивание контейнера по центру страницы */
}

.about__title1 {

  width: 473px;
  height: 60px;
  text-align: justify;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 44px;
  font-weight: 700;
  
  letter-spacing: 1.5px;

  transform: scale3d(1.15, 1, 1.5);
  transform-origin: left;

}

.about__description1 {
  position: absolute;
  bottom: 0;


  margin-left: 0;
  padding-left: 471px;

  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 400;

  line-height: 1.5; /* Междустрочный интервал */
}


